asgiref==3.2.3
cement==2.8.2
certifi==2019.11.28
chardet==3.0.4
colorama==0.3.9
django==3.0.1
django-ckeditor==5.8.0
django-js-asset==1.2.2
docutils==0.15.2
future==0.16.0
idna==2.7
jmespath==0.9.4
pathspec==0.5.9
Pillow==6.2.1
python-dateutil==2.8.0
pytz==2019.3
PyYAML==3.13
requests==2.20.1
semantic-version==2.5.0
six==1.11.0
sqlparse==0.3.0
termcolor==1.1.0
urllib3==1.24.3
wcwidth==0.1.8
whitenoise==5.0.1
gunicorn==20.0.4
psycopg2==2.7.5
django-heroku==0.3.1
python-dotenv==0.10.5
django-storages==1.8
boto3==1.11.6
botocore==1.14.6
s3transfer==0.3.1
dj-database-url==0.5.0

