{% extends "base.html" %}
{% block title %} Projects {% endblock %}
{% load static %}
{% block page_content %}
    <h1 class="display-3 mt-2 mb-4">Projects</h1>
    <p style="font-size:160%;">Below is a sample of my completed projects. More can be found on my <a target="_blank"
            href="https://www.github.com/jacknely">Github page</a>.</p><br>
    <div class="row">
        {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <img class="card-img-top" height="220" src="{{ project.image.url }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text" style="font-size:1rem!important;">{{ project.summary }}</p>
                        <a href="{% url 'project_detail' project.pk %}"
                           class="btn btn-primary">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}