{% extends "base.html" %}
{% block title %} Contact {% endblock %}

{% block page_content %}

    <h1 class="display-3 mt-2 mb-2" >Contact Me</h1>
    <br>
    <p>Please find my contact details below:</p>
    <ul>
    <li>Tel: +44 (0)7915 444217</li>
    <li>Email: jackn926@live.co.uk</li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/nelson90/" target="_blank">www.linkedin.com/in/nelson90/</a></li>
    </ul>
    <p><b>Note:</b> My preferred method of communication is email, however I am happy to be contacted by text
        message, WhatsApp or phone call.</p>






{% endblock %}