{% extends "base.html" %}

{% block page_content %}
    <br>
    <br>
    <div class="container">
        <div class="text-center">
            <img src="media\images\jack.jpg" alt="Jack Nelson" width="300" height="300" style="border-radius: 50%;">
        </div>
        <br>
        <br>
        <div class="jumbotron jumbotron">
            <div class="container">
                <h1 class="display-4">Thank you for visiting!</h1>
                <h3 class="lead" style="font-size: 25px; color: grey">My name is Jack Nelson. I am an aspiring software
                    developer seeking Python opportunities in London. <a href="/projects">Click here</a> to see a sample
                    of my work. Below is a brief summary of my career so far...</h3>


                <div class="media mt-4">
                    <img class="mr-3" src="media\images\apprent.JPG" width="164" alt="Generic placeholder image">
                    <div class="media-body" style="display:inline-block; min-height:120px">
                        <h5 class="mt-0">Apprentice Engineer on Shop Floor</h5>
                        <p class="front">I was recruited by a local manufacturing firm as an Apprentice Engineering and began work in the
                        factory. Jobs would include operating CNC machinery, fabricating and interpreting
                        engineering drawings. In my last year of employment I was moved into the sales department where
                        I worked as an estimator; pricing potential contracts for the company.</p>
                    </div>
                </div>

                <div class="media mt-4">
                    <img class="mr-3" src="media\images\Capture2.PNG" width="164" alt="Generic placeholder image">
                    <div class="media-body" style="display:inline-block; min-height:120px">
                        <h5 class="mt-0">Business Development & Project Engineer</h5>
                        <p class="front">Conceptualised, designed, and launched high quality new website of company using my knowledge of
                        Drupal CMS, HTML, CSS and PHP. Other business development projects included updating all
                        marketing literature and upgrading costing applications.</p>
                    </div>
                </div>

                <div class="media mt-4">
                    <img class="mr-3" src="media\images\lancaster.png" width="164" alt="Generic placeholder image">
                    <div class="media-body" style="display:inline-block; min-height:120px">
                        <h5 class="mt-0">First Class Hons Degree in Engineering</h5>
                        <p class="front">Project Leader on final year MEng project which involved leading a team of 5 students and
                        working closely with the project’s sponsor; an industry leader in Additive Manufacturing. Lead author on two
                        published journal articles in the ‘International Journal of Advanced Design and Manufacturing
                        Technology’ and ‘Journal of Thermal Engineering’. I was elected both college and class
                        representative during my time at Lancaster University.</p>
                    </div>
                </div>

                <div class="media mt-4">
                    <img class="mr-3" src="media\images\jlr.jpg" width="164" alt="Generic placeholder image">
                    <div class="media-body" style="display:inline-block; min-height:120px">
                        <h5 class="mt-0">Graduate Engineer at Jaguar Land Rover</h5>
                        <p class="front">Successfully completed Jaguar Land Rover graduate development scheme within Tooling and Pressed
                        Parts Group. Strategically planned, developed, and delivered automation and press motion
                        program’s (OLP’s) for tooling in Servo Pressing Facilities. Led development of a new suite
                        of MatLab based tools to automate the creation of OLP’s and report facility performance.
                        Using these tools to generate insight, build data driven business cases and set production targets.</p>

                    </div>
                </div>

                <div class="media mt-4">
                    <img class="mr-3" src="media\images\dubai.jpeg" width="164" alt="Generic placeholder image">
                    <div class="media-body" style="display:inline-block; min-height:120px">
                        <h5 class="mt-0">Senior Engineer in Dubai, UAE</h5>
                        <p class="front">Development of a Flask application for the control of production quality.
                        The application reads a files output from a CMM and then extracts data to a SQL
                        database for monitoring and reporting. Delivered engineering change services such as
                        tooling updates, installation and commissioning of plant facilities. Led meetings a on
                        weekly basis with suppliers and customers to determine and resolve all problems.</p>
                    </div>
                </div>


                <div class="media mt-4">
                    <img class="mr-3" src="media\images\janelson.png" width="164" alt="Generic placeholder image">
                    <div class="media-body" style="display:inline-block; min-height:120px">
                        <h5 class="mt-0">Director & Senior Engineer at J A Nelson Limited</h5>
                        <p class="front">Held contracts with Jaguar Land Rover and Segula Technologies working in Manufacturing
                        Engineering. Development of tools focused on automating tasks leading to increased
                        efficiencies in department. Applications included a ‘Document Submission Portal’
                        and a ‘Part Pedigree Dashboard’, both created using Python and hosted on AWS EB.
                        The tools reduced data processing time by 5hrs for each engineer in the department.
                        Principal role is the dimensional maturation of the body-in-white assembly through
                        comprehensive engineering expertise in parts assembling, system interaction, tolerancing,
                        and methods of location and measurement.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>



{% endblock %}