{% extends "base.html" %}

{% block page_content %}
    <br>
    <br>
    <div class="container">
        <div class="text-center">
            <img src="media\images\jack.jpg" alt="Jack Nelson" width="300" height="300" style="border-radius: 50%;">
        </div>
        <br>
        <br>
        <div class="jumbotron jumbotron">
            <div class="container">
                <h1 class="display-4">Thank you for visiting!</h1>
                <h3 class="lead" style="font-size: 25px; color: grey">My name is Jack Nelson. I am an aspiring software
                    developer seeking Python opportunities in London. <a href="/projects">Click here</a> to see a sample
                    of my work.
                    Below is a brief summary of my career so far...</h3>
                <br>


                <div class="media mt-4">
                    <img class="mr-3" src="media\images\apprent.jpg" width="164" alt="Generic placeholder image">
                    <div class="media-body" style="display:inline-block; min-height:120px">
                        <h5 class="mt-0">Apprentice Engineer on Shop Floor</h5>
                        I was recruited by a local manufacturing firm as an Apprentice Engineering and began work in the
                        factory. Jobs would include operating CNC machinery, fabricating and interpreting
                        engineering drawings. In my last year of employment I was moved into the sales department where
                        I worked as an estimator; pricing potential contracts for the company.
                    </div>
                </div>

                <div class="media mt-4">
                    <img class="mr-3" src="media\images\capture2.png" width="164" alt="Generic placeholder image">
                    <div class="media-body" style="display:inline-block; min-height:120px">
                        <h5 class="mt-0">Business Development & Project Engineer</h5>
                        Conceptualised, designed, and launched high quality new website of company using my knowledge of
                        Drupal CMS, HTML, CSS and PHP.
                        Other business development projects included updating all marketing literature and upgrading
                        costing applications.
                    </div>
                </div>

                <div class="media mt-4">
                    <img class="mr-3" src="media\images\lancaster.png" width="164" alt="Generic placeholder image">
                    <div class="media-body" style="display:inline-block; min-height:120px">
                        <h5 class="mt-0">First Class Hons Degree in Engineering</h5>
                        Project Manager on final year MEng project which involved leading a team of 5 students and
                        working closely
                        with the project’s sponsor; an industry leader in Additive Manufacturing. Lead author on two
                        published journal articles in the ‘International Journal of Advanced Design and Manufacturing
                        Technology’ and ‘Journal of Thermal Engineering’. I was elected both college and class
                        representative
                        during my time at Lancaster University.
                    </div>
                </div>

                <div class="media mt-4">
                    <img class="mr-3" src="media\images\jlr.png" width="164" alt="Generic placeholder image">
                    <div class="media-body" style="display:inline-block; min-height:120px">
                        <h5 class="mt-0">Graduate Engineer at Jaguar Land Rover</h5>
                        Successfully completed Jaguar Land Rover graduate development scheme within Tooling and Pressed
                        Parts Group. Project Co-ordinator for the delivery of press tooling on a large SUV from concept
                        to verification build. Led development of a new suite of Matlab based tools to automate the
                        creation of OLP’s and report facility performance. Using these tools to generate insight,
                        build data driven business cases and set production targets.

                    </div>
                </div>

                <div class="media mt-4">
                    <img class="mr-3" src="media\images\dubai.jpeg" width="164" alt="Generic placeholder image">
                    <div class="media-body" style="display:inline-block; min-height:120px">
                        <h5 class="mt-0">Senior Engineer in Dubai, UAE</h5>
                        Responsible for plant operational metrics, including productivity and quality of precision
                        extruded aluminium parts. Delivered engineering change services such as tooling updates,
                        installation and commissioning of plant facilities. Developed a Flask application for
                        the control of production quality. The application read files output from a CMM then
                        extracted data to a SQL database for monitoring and reporting.
                    </div>
                </div>


                <div class="media mt-4">
                    <img class="mr-3" src="media\images\janelson.png" width="164" alt="Generic placeholder image">
                    <div class="media-body" style="display:inline-block; min-height:120px">
                        <h5 class="mt-0">Director & Senior Engineer at J A Nelson Limited</h5>
                        Held contracts with Jaguar Land Rover and Segula Technologies working in Advanced Manufacturing.
                        Collaborate with product engineers, process engineers, and suppliers to attain capability,
                        including Ppk & Cpk from single parts through final vehicle assembly. Hold full accountability
                        to mature and build the integrity of the underframe body-in-white assembly. Provide appropriate
                        assistance in planning and implementation of product and manufacturing tooling from concept to
                        series production.
                    </div>
                </div>

            </div>
        </div>

    </div>



{% endblock %}