{% extends "base.html" %}

{% block page_content %}
    <br>
    <br>
    <div class="container">
        <div class="text-center">
            <img src="media\images\me.jpg" alt="Jack Nelson" width="300" height="300" style="border-radius: 50%;">
        </div>
        <br>
        <br>
        <div class="jumbotron jumbotron">
            <div class="container">
                <h1 class="display-4">Thank you for being here!</h1>
                <p class="lead" style="font-size: 25px; color: grey">My name is Jack Nelson. I am an aspiring software
                    engineer seeking Python opportunities in London. <a href="/projects">Click here</a> to see a sample of my work.
                    Below is a brief summary of my career so far...</p>
                <br>


                <div class="media mt-4">
                    <img class="mr-3" src="media\images\apprent.jpg" width="164" alt="Generic placeholder image">
                    <div class="media-body" style="height: 140px">
                        <h5 class="mt-0">Apprentice Engineer on Shop Floor</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                        purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                        vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <div class="media mt-4">
                    <img class="mr-3" src="media\images\Capture2.png" width="164"  alt="Generic placeholder image">
                    <div class="media-body" style="height: 140px">
                        <h5 class="mt-0">Business Development & Project Engineer</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                        purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                        vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <div class="media mt-4">
                    <img class="mr-3" src="..." alt="Generic placeholder image">
                    <div class="media-body" style="height: 140px">
                        <h5 class="mt-0">First Class Hons Degree in Engineering</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                        purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                        vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <div class="media mt-4" >
                    <img class="mr-3" src="media\images\jlr.png" width="164"  alt="Generic placeholder image">
                    <div class="media-body" style="height: 140px">
                        <h5 class="mt-0">Graduate Engineer at Jaguar Land Rover</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                        purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                        vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

                <div class="media mt-4">
                    <img class="mr-3" src="media\images\dubai.jpeg" width="164" alt="Generic placeholder image">
                    <div class="media-body" style="height: 140px">
                        <h5 class="mt-0">Senior Engineer in Dubai, UAE</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                        purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                        vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>


                <div class="media mt-4" height="130">
                    <img class="mr-3" src="media\images\janelson.png" width="164"  alt="Generic placeholder image">
                    <div class="media-body" style="height: 140px">
                        <h5 class="mt-0">Director & Senior Engineer at J A Nelson Limited</h5>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras
                        purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
                        vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>

            </div>
        </div>

    </div>



{% endblock %}